# Zig!
zig-out
.zig-cache

# Distribution tarballs and signatures
/gdnsd-*.tar.xz
/gdnsd-*.tar.xz.asc

# Built and distributed in tarballs, but not kept in git
/src/zscan_rfc1035.c
/libgdnsd/vscf.c

# Testsuite stuff
/t/testout/[0-9]*
/t/libgdmaps/*.t
/t/libgdmaps/etc/
.prove*

# Various QA tool outputs
/_vginst
/lcovout/
/bw-output/
/.scannerwork/

# Various tool outputs in all dirs
Makefile
Makefile.in
.dirstamp
.deps
.libs
*.o
*.so
*.lo
*.la
*.a
*.gcov
*.trucov
*.info
*.gcda
*.gcno
*.tmp
*.log
*.trs
*~
clang_output_*

# generated docs
*.[0-9]
*.pod
/wikidocs/

# generated systemd unit file + initscript
init/gdnsd.service
init/gdnsd.init
